html {
  height: -webkit-fill-available;
}

body {
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  padding: 0;
}

.grid {
  display: grid;
  grid-auto-flow: column;
}

.u-m2 {
  margin: 1rem;
}

.u-m4 {
  margin: 2rem;
}

.u-p2 {
  padding: 1rem;
}

.u-mt2 {
  margin-top: 1rem;
}

.u-mb2 {
  margin-bottom: 1rem;
}

.u-mt4 {
  margin-top: 2rem;
}

.u-mb4 {
  margin-bottom: 2rem;
}

.u-mr2 {
  margin-right: 1rem;
}

.u-mx2 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.u-pointer {
  cursor: pointer;
}

.u-right-align {
  text-align: right;
}

.u-center-align {
  text-align: center;
}

.u-self-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.u-vertical-middle {
  vertical-align: middle;
}

.u-white-text {
  color: white
}

.u-pink-text {
  color: #a36c74
}

.u-dark-blue-color {
  color: darkblue
}

.u-grey-color {
  color: grey;
}

.u-grey-background {
  background-color: #454545;
}

.u-flex-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.portfolio-title {
  color: #f26d83;
  font-size: 19px;
  font-weight: 800;
}

.portfolio-description {
  color: #a36c74;
  font-size: 16px;
  font-weight: 600;
}

@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hide-desktop {
    display: none;
  }
}